body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(hero.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    color: rgb(154, 171, 137);
}

.buffer {
    height: 3rem;
}

.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: lowercase;
}

.btn-primary {
    background-color: rgb(154, 171, 137);
    border-color: rgb(154, 171, 137);
}

.btn-primary:hover {
    background-color: black;
    border-color: rgb(154, 171, 137);
}

.btn-xl {
    padding: 1rem 2rem;
}